<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://grupoavengersblog.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>grupoavengersblog.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>grupoavengersblog</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$grupoavengersblog</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="avengersblogEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=avengersblog.database.windows.net;Initial Catalog=avengersblog;Persist Security Info=True;User ID=admin-gama;Password=@adm12345;Application Name=EntityFramework" Name="Data Source=avengersblog.database.windows.net;Initial Catalog=avengersblog;Persist Security Info=True;User ID=admin-gama;Password=@adm12345;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Gama.GrupoAvengers.Blog.avengersblogEntities, Gama.GrupoAvengers.Blog" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=avengersblog.database.windows.net;Initial Catalog=avengersblog;Persist Security Info=True;User ID=admin-gama;Password=@adm12345;Application Name=EntityFramework" Name="Data Source=avengersblog.database.windows.net;Initial Catalog=avengersblog;Persist Security Info=True;User ID=admin-gama;Password=@adm12345;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Gama.GrupoAvengers.Blog.Models.ApplicationDbContext, Gama.GrupoAvengers.Blog" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)avengersblogEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/MyLeads.csdl|res://*/MyLeads.ssdl|res://*/MyLeads.msl;provider=System.Data.SqlClient;provider connection string="Data Source=avengersblog.database.windows.net;Initial Catalog=avengersblog;Persist Security Info=True;User ID=admin-gama;Password=@adm12345;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=avengersblog.database.windows.net;Initial Catalog=avengersblog;Persist Security Info=True;User ID=admin-gama;Password=@adm12345;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>