<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PagueWay: o seu blog sobre soluções de pagamento</title>

    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <link href="Content/styles.min.css" rel="stylesheet">
  </head>
  <body>

    <nav id="top-nav-container">
    </nav>

    <header id="main-header-container">
      <div id="main-header" class="section-content">
        <div class="vertical-align-container">
          <div class="vertical-align">
            <div id="main-header-content">
              <span id="main-header-pagueway">PagueWay</span>
              <h1 id="main-header-pagueway-subtitle">O seu blog sobre soluções em pagamento</h1>
              <a id="main-header-pagueway-ebook-button" href="#">Baixar e-book gratuito</a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="main-section-container">
      <div id="main-section" class="section-content">
        <div class="row">
          <div id="content" class="col-sm-9">
            <h2>Artigos</h2>
            <div class="article-list">
              <article>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Publicado 22 de março as 23:01:00</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit finibus dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur tempor mattis. Nunc eget tristique eros. Integer hendrerit ultricies massa vel ullamcorper. Nulla venenatis eros eget mauris lacinia mollis. Aenean elementum varius mi eget faucibus. Duis vel maximus sem, vel convallis erat. Nulla non arcu luctus, fermentum orci eu, posuere lacus. Donec dictum sem nec mauris consectetur fermentum. Vivamus vitae consectetur metus. In lacinia, mi sed finibus viverra, lorem nulla volutpat nisi, eu venenatis lacus ipsum et augue.</p>
                <a href="#">Ler artigo completo</a>
              </article>
              <article>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Publicado 22 de março as 23:01:00</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit finibus dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur tempor mattis. Nunc eget tristique eros. Integer hendrerit ultricies massa vel ullamcorper. Nulla venenatis eros eget mauris lacinia mollis. Aenean elementum varius mi eget faucibus. Duis vel maximus sem, vel convallis erat. Nulla non arcu luctus, fermentum orci eu, posuere lacus. Donec dictum sem nec mauris consectetur fermentum. Vivamus vitae consectetur metus. In lacinia, mi sed finibus viverra, lorem nulla volutpat nisi, eu venenatis lacus ipsum et augue.</p>
                <a href="#">Ler artigo completo</a>
              </article>
              <article>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>Publicado 22 de março as 23:01:00</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit finibus dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur tempor mattis. Nunc eget tristique eros. Integer hendrerit ultricies massa vel ullamcorper. Nulla venenatis eros eget mauris lacinia mollis. Aenean elementum varius mi eget faucibus. Duis vel maximus sem, vel convallis erat. Nulla non arcu luctus, fermentum orci eu, posuere lacus. Donec dictum sem nec mauris consectetur fermentum. Vivamus vitae consectetur metus. In lacinia, mi sed finibus viverra, lorem nulla volutpat nisi, eu venenatis lacus ipsum et augue.</p>
                <a href="#">Ler artigo completo</a>
              </article>
            </div>
          </div>
          <aside id="side-bar" class="col-sm-3">
            <h2>Mais Recentes</h2>
            <nav>
              <ul>
                <li>
                  <a href="#">Artigo 1</a>
                </li>
                <li>
                  <a href="#">Artigo 2</a>
                </li>
                <li>
                  <a href="#">Artigo 3</a>
                </li>
                <li>
                  <a href="#">Artigo 4</a>
                </li>
              </ul>
            </nav>
            <h2>Mais lidos</h2>
            <nav>
              <ul>
                <li>
                  <a href="#">Artigo 1</a>
                </li>
                <li>
                  <a href="#">Artigo 2</a>
                </li>
                <li>
                  <a href="#">Artigo 3</a>
                </li>
                <li>
                  <a href="#">Artigo 4</a>
                </li>
              </ul>
            </nav>
            <h2>Categorias</h2>
            <nav>
              <ul>
                <li>
                  <a href="#">Categoria 1</a>
                </li>
                <li>
                  <a href="#">Categoria 2</a>
                </li>
                <li>
                  <a href="#">Categoria 3</a>
                </li>
                <li>
                  <a href="#">Categoria 4</a>
                </li>
              </ul>
            </nav>
          </aside>
        </div>
      </div>
    </section>

    <footer id="main-footer-container">
      <div id="main-footer" class="section-content">
        <p>© @DateTime.Now.Year PagueWay</p>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/scripts.min.js"></script>
  </body>
</html>