@{
//Layout = null;
}
<div class="row">
    <div id="registerForm">
        <form>
            <fieldset class="form-fields-margin form-group">
                <h3>Assine Aqui</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit lectus hendrerit,
                    sagittis risus non, suscipit nulla
                </p>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                </div>
                <button type="submit" class="btn btn-default">Receber Novidades</button>
            </fieldset>
        </form>
    </div>
</div>
<br />
<div class="row">
    <div id="imageBio">
        IMAGE
        @*<img id="imageBio" src="~/Content/bio.png" />*@
    </div>
    <h3>Perfil do Blog ou Bio</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit lectus hendrerit,
        sagittis risus non, suscipit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit lectus hendrerit,
        sagittis risus non, suscipit nulla.
    </p>
</div>
<br />
<div class="row">
    <h3>Posts Recentes</h3>
</div>
<div class="row">
    <a href="@Url.Action("Post1", "BlogLeads")"><h3>Título do Post</h3></a>
    <p>
        DD/MM/YYYY
    </p>
</div>