<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Lading Page</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/landingPage.css">
	</head>
	<body>
		<div class="container-fluid bg header">
		</div>
		<div class="container-fluid bg conteudo">
			<div class="row">
				<div class="col-sm-6 bg">
					<div class="row">
						<div class="col-sm-12">
							<div class="bg logo">
								<div class="logoPagueWay">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 bg tablet">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-6">
							<div class="bg formulario">
								<div class="form-group ">
									<h4>Preencha os dados para receber grátis o nosso e-book !</h4>
								</div>
								<div class="form-group ">
									<input type="text" name="nome" value="" placeholder="seu nome" class="form-control">
								</div>
								<div class="form-group ">
									<input type="email" name="email" value="" placeholder="e-mail" class="form-control">
								</div>
								<div class="form-group ">
									<input type="text" name="nome" value="" placeholder="empresa" class="form-control">
								</div>
								<div class="form-group ">
									<input type="text" name="nome" value="" placeholder="Cargo(Opcional)" class="form-control">
								</div>
								<div class="form-group ">
									<input type="button" name="" value="Enviar" class="btn btn-primary">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>