
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h2>Título do Post</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit lectus hendrerit,
            sagittis risus non, suscipit nulla. Donec faucibus, sem eget accumsan luctus, erat ligula facilisis sapien,
            quis ullamcorper orci ipsum a mauris. Nullam mollis eget velit vitae suscipit. Morbi rhoncus tortor nec euismod efficitur.

        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit lectus hendrerit,
            sagittis risus non, suscipit nulla. Donec faucibus, sem eget accumsan luctus, erat ligula facilisis sapien,
            quis ullamcorper orci ipsum a mauris. Nullam mollis eget velit vitae suscipit. Morbi rhoncus tortor nec euismod efficitur.

        </p><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit lectus hendrerit,
            sagittis risus non, suscipit nulla. Donec faucibus, sem eget accumsan luctus, erat ligula facilisis sapien,
            quis ullamcorper orci ipsum a mauris. Nullam mollis eget velit vitae suscipit. Morbi rhoncus tortor nec euismod efficitur.

        </p><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit lectus hendrerit,
            sagittis risus non, suscipit nulla. Donec faucibus, sem eget accumsan luctus, erat ligula facilisis sapien,
            quis ullamcorper orci ipsum a mauris. Nullam mollis eget velit vitae suscipit. Morbi rhoncus tortor nec euismod efficitur.

        </p><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit lectus hendrerit,
            sagittis risus non, suscipit nulla. Donec faucibus, sem eget accumsan luctus, erat ligula facilisis sapien,
            quis ullamcorper orci ipsum a mauris. Nullam mollis eget velit vitae suscipit. Morbi rhoncus tortor nec euismod efficitur.

        </p>
    </div>
    <div class="col-md-4">
        @Html.Partial("sidebar")
    </div>
</div>

