@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Home Page";
}


<h2>Artigos</h2>
<div class="article-list">
    <article>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Publicado 22 de março as 23:01:00</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit finibus dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur tempor mattis. Nunc eget tristique eros. Integer hendrerit ultricies massa vel ullamcorper. Nulla venenatis eros eget mauris lacinia mollis. Aenean elementum varius mi eget faucibus. Duis vel maximus sem, vel convallis erat. Nulla non arcu luctus, fermentum orci eu, posuere lacus. Donec dictum sem nec mauris consectetur fermentum. Vivamus vitae consectetur metus. In lacinia, mi sed finibus viverra, lorem nulla volutpat nisi, eu venenatis lacus ipsum et augue.</p>
        <a href="@Url.Action("Post1", "BlogArticles")">Ler artigo completo</a>
    </article>
    <article>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Publicado 22 de março as 23:01:00</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit finibus dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur tempor mattis. Nunc eget tristique eros. Integer hendrerit ultricies massa vel ullamcorper. Nulla venenatis eros eget mauris lacinia mollis. Aenean elementum varius mi eget faucibus. Duis vel maximus sem, vel convallis erat. Nulla non arcu luctus, fermentum orci eu, posuere lacus. Donec dictum sem nec mauris consectetur fermentum. Vivamus vitae consectetur metus. In lacinia, mi sed finibus viverra, lorem nulla volutpat nisi, eu venenatis lacus ipsum et augue.</p>
        <a href="@Url.Action("Post2", "BlogArticles")">Ler artigo completo</a>
    </article>
    <article>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Publicado 22 de março as 23:01:00</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce suscipit finibus dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur tempor mattis. Nunc eget tristique eros. Integer hendrerit ultricies massa vel ullamcorper. Nulla venenatis eros eget mauris lacinia mollis. Aenean elementum varius mi eget faucibus. Duis vel maximus sem, vel convallis erat. Nulla non arcu luctus, fermentum orci eu, posuere lacus. Donec dictum sem nec mauris consectetur fermentum. Vivamus vitae consectetur metus. In lacinia, mi sed finibus viverra, lorem nulla volutpat nisi, eu venenatis lacus ipsum et augue.</p>
        <a href="@Url.Action("Post3", "BlogArticles")">Ler artigo completo</a>
    </article>
</div>
          

      

