@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IMAGE / VIDEO</h1>
    @*<p class="lead">IMAGE / VIDEO</p>*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row-fluid">
    <div class="col-lg-6">
        <h2>Título do Post</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit lectus hendrerit,
            sagittis risus non, suscipit nulla. Donec faucibus, sem eget accumsan luctus, erat ligula facilisis sapien,
            quis ullamcorper orci ipsum a mauris. Nullam mollis eget velit vitae suscipit. Morbi rhoncus tortor nec euismod efficitur.
            ...
        </p>

        <input type="button" value="Saiba Mais" onclick="location.href='@Url.Action("Post1", "BlogLeads")'" />

    </div>
    <div class="col-lg-offset-1 col-lg-5">
        @Html.Partial("sidebar")      
    </div>

</div>